Source: libdri2
Section: unknown
Priority: extra
Maintainer: WanZhiYuan <root@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libdri2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libdri2.git;a=summary

Package: libdri2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
